extends layouts/main-layout.pug

block content    
    if !profileUser
        h2 This user could not be found
    else
        script. 
            var profileUserId='!{profileUser._id}'
            var selectedTab='!{selectedTab}'
        
        - var followersCount=profileUser.followers.length
        - var followingCount=profileUser.following.length
        .profileHeaderContainer 
            .coverPhotoContainer 
                if profileUser.coverPhoto
                    img.coverPhoto(src=`/${profileUser.coverPhoto}`)
                

                .userImageContainer 
                    script. 
                    img.userImage(src=`/${profileUser.profilePic}`)
            .profileButtonsContainer 
                if profileUser._id!=userLoggedIn._id 
                    a.profileButton(href=`/messages/${profileUser._id}`) Send Message
                    - var profileUserId=profileUser._id.toString()
                    - if (userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                      +createFollowButton(profileUser,true)
                    - else 
                        +createFollowButton(profileUser,false)
            .userInfoContainer 
                h2 #{profileUser.firstName} #{profileUser.lastName}
                p @#{profileUser.username}
                span.description #{profileUser.description}
                if profileUser._id==userLoggedIn._id
                    button.profilePictureButton(data-toggle="modal", data-target="#changeProfilePictureModal") Change Profile Picture &nbsp; 
                        i.fas.fa-camera
                    button.coverPhotoButton(data-toggle="modal", data-target="#changeCoverPhotoModal") Change cover photo &nbsp; 
                        i.fas.fa-camera

                .followersContainer
                    a(href=`/profile/${profileUser.username}/following`) 
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`) 
                        span#followersValue.value #{followersCount}
                        span Followers
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.username}`, selectedTab != "replies")
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")

        .postsContainer
        +createPostModals(userLoggedIn)
        +changeProfilePictureModal()
        +changeCoverPhotoModal()
block script 
    script(src="/common/profile.js") 